* {
  font-size: 14px;
  font-weight: bold;
  text-indent: 10px;
}

.App-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
  border: 2px solid black;
  box-shadow: 1px 1px 1px 1px rgb(77, 77, 77);
}

.Search-Bar {
  display: flex;
}

.Search-Input {
  margin-left: 50px;
  width: 275px;
}

.Search-Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 40px;
  background-color: green;
  border-radius: 0 5px 5px 0;
  border: 1px solid green;
}

.App-Logo {
  color: white;
  font-size: 30px;
  font-family: fantasy;
  letter-spacing: 1px;
  margin-right: 275px;
}

.App-Menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.Profile-Icon, .Cart-Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  min-width: 50px;
  width: auto;
  height: 50px;
  color: white;
}

.Profile-Li {
  display: none;
  position: absolute;
  line-height: 50px;
  top: 50px;
  height: 100px;
  width: 150px;
  color: black;
  border: 2px solid black;
  background-color: black;
}

.Profile-Icon:hover .Profile-Li {
  display: block;
}

.Account-Info, .Sign-Out {
  color: white;
  text-indent: 0;
  text-align: center;
  border-bottom: 2px solid white;
}

.Account-Info:hover, .Sign-Out:hover {
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
}

.Home {
  display: flex;
  flex-direction: column;
  top: 50px;
  min-height: 800px;
  height: auto;
  background-color: rgb(235, 235, 235);
}

.Items-Display {
  min-height: 300px;
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 28%;
  margin-left: 50px;
  border: 1px solid grey;
}

input {
  height: 30px;
  width: 200px;
}