#about-page { padding-top: 60px; display: flex; min-height: 700px; background: slategrey; }
#profile-img { height: 350px; box-shadow: 0 0 5px grey; border: 1px solid brown; border-radius: 200px; }
#profile-info * { color: black; background: slategrey; }
#name { padding-top: 50px; font-size: 70px; text-shadow: 2px 2px brown; }
#education span,#contact span { color: wheat; }

@media (max-width: 700px) {
    #about-page { flex-direction: column; padding-bottom: 20px;}
    #profile-img { height: 250px; margin-top: 50px; }
}