#about-page { padding-top: 60px; display: flex; min-height: 700px; background: teal; }
#profile-img { height: 350px; box-shadow: 0 0 5px grey; border: 2px solid yellowgreen; border-radius: 200px; }
#profile-info * { color: black; background: teal; }
#name { padding-top: 50px; font-size: 70px; text-shadow: 2px 2px yellowgreen; }
#education, #contact { padding-top: 70px; }
#education h1, #contact h1 { font-size: 24px; color: yellowgreen; }
#education span,#contact span { color: wheat; }

@media (max-width: 700px) {
    #about-page { flex-direction: column; padding-bottom: 20px;}
    #profile-img { height: 250px; margin-top: 50px; }
}