.checkout-page { grid-template-columns: 55% 40%; margin: 7rem 0 0 5%; width: 90%; }
.checkout-msg { grid-column: 1 / 3; flex-direction: column; width: 100%;}
.checkout-msg div { margin: 2.5rem 0; font-size: clamp(2.5rem, 5vw, 3rem); font-weight: bold; color: gray; }
.cart-icon { color: gray; font-size: clamp(10rem, 25vw, 17.5rem); }
.checkmark-icon { color: green; font-size: clamp(10rem, 25vw, 17.5rem);  }
.cart-items { width: 100%; border-radius: 3px; }

.cart-item {
  margin-top: 2rem;
  height: 6.5rem;
  width: 100%;
  border: 2px solid rgb(161, 161, 161);
  box-shadow: 0 0 3px rgb(128, 128, 128);
}

#cart-img { object-fit: auto; margin-right: auto; height: 100%; width: 30%; }
.cart-details { 
  grid-template-columns: 47% 45%;
  margin-left: 5%;
  height: 100%; 
  width: 65%; 
  color: grey;
  overflow-y: hidden;
}
.cart-details * { font-family: 'Bebas Neue', cursive; }
.cart-name { grid-column: 1 / 3; font-size: clamp(1rem, 2.5vw, 1.25rem); color: rgb(29, 29, 29); }
.cart-price { grid-column: 1 / 2; font-size: clamp(0.875rem, 2.5vw, 1rem);}
.cart-price::before { content: "Price: "; }
.trash-icon { grid-column: 2 / 3; margin: 0 10px 8px auto; font-size: clamp(1.1rem, 2.5vw, 1.2rem); color: rgb(235, 176, 176); }
.trash-icon:hover { color: brown; }

.review {
  margin: 2rem 0 auto 0;
  flex-direction: column;
  min-height: 25rem;
  width: 100%;
  border: 2px solid gray;
  box-shadow: 0 0 2px black;
}
.review-initial, .review-tax { font-size: 1rem; color: gray; }
.review-initial::before { content: "Subtotal: "; }
.review-tax::before { content: "Tax: + "; }
.review-final { font-size: clamp(1.25rem, 2.5vw, 1.5rem); color: black; }
.review-final::before { content: "Total: "; color: black }

.pay-btn {
  padding: clamp(0.25rem, 2.5vw, 0.75rem) clamp(0.5rem, 2.5vw, 1.5rem);
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: white;
  background: orange;
  border-radius: 3px;
  box-shadow: 0 0 5px darkorange;
}
.pay-btn:hover { box-shadow: 0 0 5px orangered; }
