#form-container { display: flex; flex-direction: column; min-height: 800px; background: rgb(236, 236, 236); }

#error-msg {
  display: none;
  min-height: 4rem;
  width: 100%;
  font-size: 20px;
  color: red;
  background: rgb(255, 170, 170);
  border-radius: 8px;
  border: 1px solid red;
}

#image-section { min-height: 33rem; padding: 3rem 0 6rem 0; width: 100%; background: teal; }

.Dropzone-Panel { height: 15rem; width: 80%; margin-left: 10%; }

.Dropzone {
  display: flex;
  font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  text-shadow: 1px 1px rgb(90, 90, 90);
  height: 100%;
  width: 100%;
  color: teal;
  background: rgb(230, 230, 230);
  border-radius: 10px;
  border: 3px dotted teal;
}

#preview-display {
  display: flex;
  height: 37rem;
  margin: 5rem 0 0 17.5%;
  width: 65%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 4px;
}

#preview-default {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  text-shadow: 1px 1px rgb(160, 160, 160);
  color: teal;
  background: white;
}

#preview-image { height: 100%; width: 100%; object-fit: contain; border-radius: 10px; }

#input-section { padding-bottom: 3.2rem; width: 100%; color:teal; background: white; }

#input-fields {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(7, auto);
}

#name-label, #description-label, #stock-label, #price-label, #tag-label { text-align: right; font-size: clamp(0.5rem, 5vw, 1rem); }

#input-tag { width: 50%; background: rgb(236, 236, 236); }
#input-tag * { text-align: center; background: rgb(236, 236, 236);}

#submit-form { display: flex; width: 100%; min-height: 10rem; background: rgb(218, 218, 218); }

#image-label, #input-label {
  margin: 4.5rem 0 6rem 3.2rem;
  display: flex;
  justify-content: unset;
  font-size: clamp(2rem, 5vw, 3rem); 
  font-family: 'Vidaloka', serif;
  animation: fadeSlideRight 0.5s ease-in;
}

.btn {
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  padding: clamp(0.5rem, 2.5vw, 1rem) clamp(1.5rem, 5vw, 3.5rem);
  background: rgb(205, 205, 255);
  color: rgb(80, 80, 80);
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  overflow-y: hidden;
}

@media (max-width: 700px) {
  .Dropzone-Panel { margin-left: 15%; width: 70%; }
  #preview-display { margin: 50px 0 0 10%; height: 33rem; width: 80%;}
}