.item-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 28rem;
    margin: 6% 0 0 6%;
    width: max(25%, 20rem);
    background: white;
    border-radius: 3px;
    border: 1px solid gray;
    overflow: unset;
    animation: fadeIn 0.5s linear;
}

.item { height: 100%; width: 100%; box-shadow: 0 0 3px black; overflow-y: hidden; transition: 0.5s all; }

.item:hover {
    position: absolute;
    min-height: 32rem;
    width: 32rem;
    background: white;
    box-shadow: 0 0 3px black;
    z-index: 2;
    transition-delay: 0.5s;
}

.item:hover .item-Tag { display: none; }

.item-image {
    position: relative;
    height: 70%;
    width: 100%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 2px grey;
    object-fit: cover;
}

.item-tag {
    position: absolute;
    margin: 10px 10px 0 0;
    padding: 0 3px;
    top: 0;
    right: 0;
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    font-family: italic;   
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
}

.item-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
    background: white;
    border-radius: 0 0 3px 3px;
    color: gray
}

.item-name {
    text-align: center;
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    font-family: 'Vidaloka', serif;
    word-wrap: break-word;
    color: black;
    overflow-y: hidden;
}

.item-description { display: none; font-size: clamp(1rem, 2.5vw, 1.25rem); font-style: italic; overflow-y: hidden; }
.item-price, .item-stock { font-size: clamp(0.75rem, 2.5vw, 1.125rem); }
.item-price span, .item-stock span { font-size: clamp(1rem, 2.5vw, 1.125rem); }

#add-cart {
    margin: 1.8rem 9rem 0 0;
    padding: 0 10px;
    min-height: 3.3rem;
    color: white;
    background: limegreen;
    box-shadow: 0 0 5px green;
    border-radius: 3px;
}
#add-cart:hover { box-shadow: 0 0 10px green; }
#expand-page { margin-top: 50px; padding: 3rem 0; display: flex; flex-direction: column; min-height: 47rem; background: teal; }
#expand-item { display: flex; padding-top: 1rem; }
#expand-image { max-height: 35rem; max-width: 50%; box-shadow: 0 0 5px; border-radius: 3px; }
#expand-details { align-self: flex-start; width: 40%; }
#expand-details div { 
    display: inline-flex; 
    margin: 2rem 9rem 0 0; 
    font-size: clamp(1rem, 2.5vw, 1.2rem); 
    color: wheat; 
}
#expand-name { font-size: clamp(1.75rem, 5vw, 2.5rem); font-weight: bolder; color: wheat; }
#expand-description { margin: 125px 0; font-size: clamp(1rem, 2.5vw, 1.3rem); font-family: 'Roboto', sans-serif; color: antiquewhite; }

#cart {
    position: relative;
    display: none;
    justify-content: flex-end;
    margin: 10px 0 50px 0;
    height: 6.5rem;
    width: 100%;
    background: white;
    box-shadow: 0 0 3px black;
    overflow-y: hidden;
}
#cart-label {
    margin-right: auto;
    display: flex;
    font-family: copperplate;
    font-size: clamp(1.25rem, 2.5vw, 2rem);
    height: 100%;
    width: max(7rem, 12%);
    color: white;
    background: brown;
    box-shadow: 0 0 3px rgb(65, 65, 65);
}
#cart-li { margin-right: 2.75rem; color: white; max-width: 6.5rem; box-shadow: 0 0 3px black; }
#cost { margin-right: 30px; display: flex; font-size: clamp(1.25rem, 2.5vw, 2rem); color: limegreen; }
#checkout-btn {
    margin: 5px 30px 5px 5px;
    min-height: 3rem;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    color: white;
    background: brown;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

#checkout-btn:hover { box-shadow: 0 0 5px 1px brown; }

@media (max-width: 700px) {
    #expand-item { flex-direction: column; }
    #expand-details { align-self: center; }
    #expand-details * { width: 100%;}
    #expand-details h1 { margin: 50px 0 20px 0; }
}