@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


* {
  font-family: 'Poppin', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-around;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

#header { 
  position: absolute; 
  top: 0; 
  display: flex; 
  min-height: 60px; 
  width: 100%;  
  background: transparent; 
  z-index: 1; 
}

#logo {
  display: flex;
  margin: 0 auto 0 20px;
  height: 60px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: white;
}

#search { margin-right: 50px; display: flex; justify-content: center; }

#search-bar { width: 300px; border-radius: 3px 0 0 3px; }

#search-btn {
  margin-right: 40pxpx;
  display: flex;
  height: 40px;
  width: 75px;
  background: orange;
  border-radius: 0 3px 3px 0;
}

#nav-links { margin-right: 50px; }

#nav-links button { margin-right: 30px; color: white; background: transparent; box-shadow: none; }

#nav-links button:hover { color: brown; }

#home { background: rgb(5,5,5); }

#home-intro { 
  vertical-align: top; 
  text-align: left;
  margin-left: 5%;
  display: inline-flex; 
  justify-content: space-evenly;
  flex-direction: column;
  font-family: 'Source Serif Pro', serif;
  height: 700px; 
  width: 45%; 
  color: white;
  z-index: 1;  
}

#intro-text h1 { margin-bottom: 30px; font-size: 50px; color: wheat; }

#intro-text h1 span { font-size: 50px; color: orange; }

#intro-text span { font-size: 18px; font-family: 'Source Serif Pro', serif; animation: fadeIn 0.5s linear; }

#about-btn {
  padding: 10px 22px;
  color: orange;
  background: transparent;
  border-radius: 5px;
  border: 2px solid orange;
  box-shadow: 0 0 5px;
}

#about-btn:hover { background: rgb(255, 239, 208); }

#home-background {
  display: inline-flex;
  height: 700px;
  width: 50%;
  background: url("https://images.pexels.com/photos/264547/pexels-photo-264547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

#home-slide {
  position: relative;
  display: flex;
  height: 900px;
  width: 100%;
  background: url("https://images.pexels.com/photos/4553278/pexels-photo-4553278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  background-repeat: no-repeat;
}

#home-slide h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  width: 60%;
  color: white;
}

.fade-slide.appear{ animation: fadeSlideDown 1s linear; }

#home-slide h1 span { font-size: 50px; font-family: 'Lobster', cursive; color: aquamarine; }

#home-content { display: flex; min-height: 700px; background: rgb(231, 231, 231);}

#slide-text {  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-family: 'Source Serif Pro', serif;
  height: 500px;
  width: 30%;
  color: black;
  background: white;
  border: 1px solid teal;
}

#slide-text h1 { margin-left: 10%; font-size: 30px; width: 90%; color: teal }

#slide-text span { font-size: 16px; width: 80%; color: rgb(65, 65, 65); }

#slide-text span span { color: teal; }

#slide-image {
  height: 400px;
  width: 50%;
  background: url("https://images.pexels.com/photos/6438762/pexels-photo-6438762.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  box-shadow: 0 0 5px gray;
}

#view-page { margin-top: 60px; min-height: 800px; background: wheat; }

#items-display { padding-bottom: 100px; position: relative; min-height: 700px; width: 100%; }

#view-default { display: flex; margin-top: 150px; font-size: 60px; font-style: italic; color: grey; }

.item-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 450px;
  margin: 6% 0 0 6%;
  width: 25%;
  border-radius: 3px;
  overflow: unset;
  animation: fadeIn 0.5s linear;
}

.item { height: 100%; width: 100%; box-shadow: 0 0 3px black; overflow-y: hidden; transition: 0.5s all; }

.item:hover {
  position: absolute;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 3px black;
  z-index: 2;
  transition-delay: 0.5s;
}

.item:hover .item-Tag { display: none; }

.item-image {
  position: relative;
  height: 70%;
  width: 100%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 2px grey;
  object-fit: cover;
}

.item-tag {
  position: absolute;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  display: flex;
  font-size: 18px;
  font-family: italic;
  height: 30px;
  line-height: 30px;
  min-width: 80px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.item-details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  width: 100%;
  background: white;
  border-radius: 0 0 3px 3px;
}

.item-name {
  text-align: center;
  font-size: 24px;
  word-wrap: break-word;
  color: black;
  overflow-y: hidden;
}

.item-description { display: none; font-style: italic; color: gray; overflow-y: hidden; }

.item-price, .item-stock { color: grey; font-size: 18px; }

#expand-page { margin-top: 60px; display: flex;  flex-direction: column; min-height: 700px; background: orange; }

#expand-item { display: flex; }

#expand-image { max-height: 600px; max-width: 55%; box-shadow: 0 0 5px; border-radius: 3px; }

#expand-details { align-self: flex-start; width: 40%; }

#expand-details div { display: inline-flex; margin: 30px 150px 0 0; font-size: 18px; color: rgb(54, 54, 54); }

#expand-name { font-size: 40px; font-weight: bolder; }

#expand-description { margin: 125px 0; font-size: 20px; font-family: 'Roboto', sans-serif; }

#add-cart {
  margin: 30px 135px 0 0;
  padding: 0 10px;
  height: 40px;
  color: white;
  background: limegreen;
  box-shadow: 0 0 5px green;
  border-radius: 3px;
}

#filter-interface {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 3%;
  height: 60px;
  width: 100%;
  z-index: 3;
}

#filter-interface * {
  margin-left: 25px;
  display: flex;
  height: 35px;
  width: 100px;
  font-size: 16px;
  color: black;
  background: white;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
}

.filter-li:hover { opacity: 0.8; }

#cart {
  position: relative;
  display: none;
  justify-content: flex-end;
  height: 100px;
  width: 100%;
  background: white;
  box-shadow: 0 0 3px black;
  overflow-y: hidden;
  z-index: 2;
}

#cart-label {
  margin-right: auto;
  display: flex;
  font-family: copperplate;
  font-size: 30px;
  height: 100%;
  width: 200px;
  color: white;
  background: brown;
  box-shadow: 0 0 3px rgb(65, 65, 65);
}

.cart-li {
  margin-right: 40px;
  color: white;
  max-height: 95px;
  max-width: 100px;
  box-shadow: 0 0 3px black;
}

#cost { margin-right: 30px; display: flex; font-size: 30px; color: limegreen; }

#checkout-btn {
  margin: 5px 30px 5px 5px;
  height: 50px;
  font-size: 16px;
  color: white;
  background: brown;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

#cart-items { width: 350px; border: 1px solid gray; border-radius: 3px; box-shadow: 0 0 3px; }

.cart-item {
  display: flex;
  max-height: 100px;
  width: 100%;
  border: 1px solid gray;
  overflow-y: hidden;
  box-shadow: 0 0 2px;
}

.cart-img { margin-right: auto; width: 150px; }

.cart-price { margin: 75px 10px 0 0; color: gray; }

.cart-price::before { content: "Price: "; color: grey; }

#review {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 250px;
  border: 2px solid gray;
  box-shadow: 0 0 2px black;
}

#review div { font-size: 16px; color: gray; }

#review-initial::before { content: "Subtotal: "; }

#review-tax::before { content: "Tax: + "; }

#review-final::before { content: "Total: "; color: black }

#pay-btn {
  height: 40px;
  width: 80%;
  color: white;
  background: orange;
  border-radius: 3px;
  box-shadow: 0 0 5px darkorange;
}

#account-page { display: flex; min-height: 700px; background: rgb(236, 236, 236); }

#profile-img { height: 350px; box-shadow: 0 0 5px grey; border: 1px solid gray; border-radius: 200px; }

#profile-info * { color: black; background: rgb(236, 236, 236); }

#name { padding-top: 50px; font-size: 70px; text-shadow: 2px 2px gray; }

#form-container { display: flex; flex-direction: column; min-height: 800px; background: rgb(236, 236, 236); }

#image-label, #input-label {
  font-size: 50px; 
  padding: 80px 0 40px 50px;
  display: flex;
  justify-content: unset;
  animation: fadeSlideRight 0.5s linear;
}

#error-msg {
  display: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  color: red;
  background: rgb(255, 170, 170);
  border-radius: 8px;
  border: 1px solid red;
}

#image-section { padding: 100px 0; width: 100%; background: black; }

.Dropzone-Panel { height: 450px; width: 25%; }

.Dropzone {
  display: flex;
  font-size: 26px;
  text-shadow: 1px 1px gray;
  height: 450px;
  background: orange;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(53, 53, 53);
}

#preview-display {
  display: flex;
  height: 600px;
  width: 65%;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 0 4px;
}

#preview-default {
  font-size: 30px;
  text-shadow: 1px 1px rgb(160, 160, 160);
  color: rgb(180, 180, 180);
  background: rgb(238, 238, 238);
}

#preview-image { object-fit: cover; border-radius: 10px; }

#input-section { padding-bottom: 20px; width: 100%; background: rgb(255, 180, 41); }

#input-section * { color: black; font-size: 18px; background: rgb(255, 180, 41); }

#input-fields {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(7, auto);
}

#name-label, #description-label, #stock-label, #price-label, #tag-label { text-align: right; }

#input-tag { width: 50%; background: rgb(236, 236, 236); }

#input-tag * {background: rgb(236, 236, 236);}

#submit-form { display: flex; width: 100%; height: 150px; background: black; }

.btn {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 125px;
  background: rgb(205, 205, 255);
  color: rgb(80, 80, 80);
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

button { box-shadow: 0 0 3px grey; border: 0; }

input, textarea {
  text-indent: 8px;
  height: 40px;
  width: 90%;
  border: 1px solid rgb(196, 196, 196);
}

input:focus, textarea:focus { outline-color: orange; }

select { height: 35px; }

a { text-decoration: none; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeSlideDown {
  0% { opacity: 0; transform: translateY(-20%);}
  100% { opacity: 1; transform: translateY(0);}
}

@keyframes fadeSlideRight {
  0% { opacity: 0; transform: translateX(-8%); }
  100% { opacity: 1; transform: translateX(0%); }
}