@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  font-family: 'Poppin', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-around;
  text-overflow: ellipsis;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App-Logo {
  display: flex;
  width: 100%;
  height: 60px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  background: black;
  text-shadow: 2px 2px gray;
}

.App-Search {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background: rgb(78, 78, 78);
  box-shadow: 0 2px 3px;
}

.Search-Bar {
  margin-left: 75px;
  height: 40px;
  width: 400px;
  background: white;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.Search-Btn {
  margin-right: 3px;
  display: flex;
  height: 40px;
  width: 75px;
  color: white;
  background: orange;
  border-radius: 0 3px 3px 0;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 0 5px black;
}

.Menu-UL {
  display: flex;
  height: 60px;
  width: 75px;
  z-index: 3;
}

.Menu-Li {
  position: absolute;
  top: 120px;
  right: 0;
  background: rgb(75, 75, 75);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  border-radius: 3px;
  box-shadow: -2px 3px 3px;
  z-index: 2;
}

.Menu-Li * {
  display: flex;
  font-size: 16px;
  height: 140px;
  line-height: 125px;
  width: 250px;
  color: white;
}

.Menu-UL:hover .Menu-Li{transform: translateX(0%);}

.Menu-Icon {
  padding: 18px 26px;
  color: white;
}

.Menu-Li *:hover {
  color: grey;
  background: white;}

.Homepage {
  position: relative;
  min-height: 700px;
  color: white;
  background-image: url("https://images.pexels.com/photos/3551355/pexels-photo-3551355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.4;
}

.Home-Intro {
  margin: 150px 0 0 40px;
  display: flex;
  width: 60%;
  font-size: 50px;
  background: transparent;
}

.Home-About {
  position: absolute;
  text-align: center;
  font-size: 16px;
  margin: 15% 0 0 50%;
  height: 45px;
  line-height: 45px;
  width: 150px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 2px white;
  overflow-y: hidden;
}

.View-Page {min-height: 900px;}

.Filter-Panel {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background:midnightblue;
  box-shadow: 0 2px 2px grey;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
  z-index: 3;
}

.Filter-Panel * {
  margin-left: 25px;
  display: flex;
  height: 35px;
  width: 100px;
  font-size: 16px;
  color: black;
  background: white;
  box-shadow: 0 0 3px;
  border-radius: 20px;
}

.transformY {transform: translateY(0%);}

.Filter-Panel *:hover {opacity: 0.8;}

.Items-Display {
  margin: 10% 0;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(10, auto);
  min-height: 600px;
  width: 100%;
  background: rgb(235, 235, 235);
  box-shadow: 0 0 5px;
  overflow: unset
}

.View-Default {
  grid-column: 2 / 5;
  grid-row: 4 / 8;
  font-size: 60px;
  font-style: italic;
  color: grey;
}

.Item-Container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5% 2.5%;
  height: 450px;
  width: 95%;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  overflow: unset
}

.Item {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transition: 0.5s all;
}

.Item:hover {
  position: absolute;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 3px black;
  z-index: 2;
  transition-delay: 0.5s;
}

.Item:hover .Item-Tag {display: none;}

.Item-Image {
  position: relative;
  height: 70%;
  width: 100%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 2px grey;
  object-fit: cover;
}

.Item-Tag {
  position: absolute;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  display: flex;
  font-size: 18px;
  font-family: italic;
  height: 30px;
  line-height: 30px;
  min-width: 80px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.Item-Details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  width: 100%;
  background: white;
  border-radius: 0 0 3px 3px;
}

.Item-Name {
  text-align: center;
  font-size: 24px;
  word-wrap: break-word;
  color: black;
  overflow-y: hidden;
}

.Item-Description {
  display: none;
  font-style: italic;
  color: gray;
  overflow-y: hidden;
}

.Item-Price, .Item-Stock {
  color: grey;
  font-size: 18px;
}

.Expand-Item {
  padding-top: 50px;
  display: flex;
  min-height: 700px;
  background: orange;
}

.Expand-Image {
  max-height: 600px;
  max-width: 55%;
  box-shadow: 0 0 5px;
  border-radius: 3px;
}

.Expand-Details {
  align-self: flex-start;
  width: 40%;
}

.Expand-Li {
  font-size: 18px;
  color: white;
}

.Expand-Name {
  font-size: 40px;
  font-weight: bolder;
}

.Expand-Description {
  margin: 125px 0;
  font-size: 20px;
  font-family: monospace;
}

.Add-Cart {
  margin: 30px 0;
  padding: 0 10px;
  height: 40px;
  color: white;
  background: limegreen;
  box-shadow: 0 0 5px green;
  border-radius: 3px;
}

.Account-Page {
  display: flex;
  min-height: 600px;
  background: rgb(236, 236, 236);
}

.Profile-Img {
  height: 350px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 200px;
}

.Profile-Info * {
  color: black;
  background: rgb(236, 236, 236);
}

.Name {
  padding-top: 50px;
  font-size: 70px;
  text-shadow: 2px 2px gray;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  background: rgb(236, 236, 236);
}

.Error-Msg {
  display: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  color: red;
  background: rgb(255, 170, 170);
  border-radius: 8px;
  border: 1px solid red;
}

.Image-Section {
  padding: 100px 0;
  width: 100%;
  background: rgb(36, 36, 36);
}

.Dropzone-Panel {
  height: 450px;
  width: 25%;
}

.Dropzone {
  display: flex;
  font-size: 26px;
  text-shadow: 1px 1px gray;
  height: 450px;
  background: orange;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(53, 53, 53);
}

.Preview-Display {
  display: flex;
  height: 600px;
  width: 65%;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 0 4px;
}

.Preview-Default {
  font-size: 30px;
  text-shadow: 1px 1px rgb(160, 160, 160);
  color: rgb(180, 180, 180);
  background: rgb(238, 238, 238);
}

.Preview-Image {
  object-fit: cover;
  border-radius: 10px;
}

.Input-Section {
  padding-bottom: 20px;
  width: 100%;
  background: rgb(255, 180, 41);
}

.Input-Section * {
  color: black;
  font-size: 18px;
  background: rgb(255, 180, 41);
}

.Input-Fields {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(7, auto);
}

.Name-Label, .Description-Label, .Stock-Label, .Price-Label, .Tag-Label {text-align: right;}

.Input-Tag { 
  width: 50%;
  background: rgb(236, 236, 236);
}

.Input-Tag * {background: rgb(236, 236, 236);}

.Submit-Form {
  display: flex;
  width: 100%;
  height: 150px;
  background: rgb(190, 190, 190);
}

.btn {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 125px;
  background: rgb(205, 205, 255);
  color: rgb(80, 80, 80);
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  overflow-y: hidden;
}

.btn:hover, .Expand-Image:hover, button:hover {opacity: 0.5;}

button {border: 0}

input, textarea {
  font-size: 16px;
  text-indent: 10px;
  height: 40px;
  width: 90%;
  background: rgb(238, 238, 238);
  border: 1px solid grey;
  border-radius: 5px;
}

select {height: 35px;}

a {text-decoration: none;}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
