* {
  font-family: 'Poppin', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.App-Header {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 1px 1px 1px;
}

.App-Logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 30px;
  font-family: fantasy;
  color: white;
  text-shadow: 3px 3px gray;
  letter-spacing: 1px;
  border-bottom: 1px solid rgb(31, 31, 31);
  box-shadow: 1px 1px 1px;
}

.App-Nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.Search {
  display: flex;
}

.Search-Bar {
  margin-left: 75px;
  height: 40px;
  width: 300px;
  background-color: white;
  border: 0;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.Search-Btn * {
  display: flex;
  height: 40px;
  width: 75px;
  color: white;
  background-color: orange;
  border-radius: 0 3px 3px 0;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: grey;
}

.Menu-UL {
  display: flex;
  height: 60px;
  width: 75px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: rgb(46, 46, 46);
}

.Menu-Li {
  position: absolute;
  top: 119px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 2;
}

.Menu-Li * {
  display: flex;
  font-size: 16px;
  height: 140px;
  line-height: 125px;
  width: 250px;
  color: white;
}

.Menu-UL:hover .Menu-Li{
  transform: translateX(0%);
}

.Menu-Icon {
  padding: 15px 25px;
  color: white;
}

.Menu-UL:hover .Menu-Icon {
  color: black;
  background-color: white;
  opacity: 0.8;
}

.Menu-Li *:hover {
  color: black;
  background-color: white;
}

.Homepage {
  text-align: center;
  color: white;
  background-color: rgb(48, 48, 48);
  min-height: 800px;
  width: 100%;
}

.Homepage * {
  background-color: rgb(48, 48, 48);
}

.Home-Intro {
  margin: 150px 0 0 40px;
  display: flex;
  width: 60%;
  font-size: 50px;
  font-family: copperplate;
  text-shadow: 3px 3px black;
}

.Home-About {
  font-size: 16px;
  margin-top: 100px;
  height: 60px;
  width: 120px;
  color: white;
}

.Home-About:hover {
  opacity: 0.5;
}

.View-Page, .Item-Expand {
  min-height: 1000px;
  background-color: rgb(235, 235, 235);
}

.Filter-Panel {
  position: absolute;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(0, 0, 92);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}

.Filter-Panel * {
  margin-left: 25px;
  display: flex;
  height: 35px;
  width: 100px;
  font-size: 18px;
  font-family: copperplate;
  color: black;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
}

.transformY {
  transform: translateY(0%);
}

.Filter-Panel *:hover {
  opacity: 0.8;
}

.Items-Display {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(10, auto);
  width: 100%;
  min-height: 750px;
  background-color: midnightblue;
}

.View-Default {
  grid-column: 2 / 5;
  grid-row: 4 / 8;
  font-size: 60px;
  font-family: sans-serif;
  color: azure;
  background-color: midnightblue;
}

.Item-Container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  background-color: rgb(218, 218, 218);
  box-shadow: 1px 1px 1px black;
}

.Item-Container:hover .Item-Image {
  opacity: 0.8;
}

.Item-Image {
  height: 70%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.Item-Details {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  background-color: rgb(218, 218, 218);
  border-radius: 0 0 5px 5px;
}

.Item-Details * {
  background-color: rgb(218, 218, 218);
}

.Item-Name {
  display: flex; 
  justify-content: space-between;
  width: 95%;
  color: black;
  font-size: 26px;
}

.Item-Price, .Item-Stock {
  color: black;
  font-size: 18px;
}

.Item-Category {
  margin-left: 10px;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  background-color: red;
}

.Item-Expand {
  display: flex;
  flex-direction: column;
}

.Item-Expand * {
  color: black;
  background-color: rgb(235, 235, 235);
}

.Account-Page {
  display: flex;
  min-height: 600px;
  background-color: rgb(236, 236, 236);
}

.Profile-Img {
  height: 350px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 200px;
}

.Profile-Info * {
  color: black;
  background-color: rgb(236, 236, 236);
}

.Name {
  padding-top: 50px;
  font-size: 70px;
  text-shadow: 2px 2px gray;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  background-color: rgb(236, 236, 236);
}

.Error-Msg {
  display: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  background-color: rgb(255, 170, 170);
  border-radius: 8px;
  border: 1px solid red;
}

.Image-Section {
  padding: 100px 0;
  width: 100%;
}

.Dropzone-Panel {
  height: 450px;
  width: 25%;
}

.Dropzone {
  display: flex;
  font-size: 22px;
  text-shadow: 1px 1px gray;
  height: 400px;
  background-color: orange;
  box-shadow: 1px 1px 1px 1px rgb(53, 53, 53);
  border-radius: 50px;
}

.Preview-Display {
  display: flex;
  height: 600px;
  width: 65%;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.Preview-Default {
  font-size: 24px;
  text-shadow: 1px 1px rgb(160, 160, 160);
  color: rgb(180, 180, 180);
  background-color: rgb(238, 238, 238);
}

.Preview-Image {
  min-height: 450px;
  max-height: 550px;
  min-width: 80%;
  max-width: 100%;
  border-radius: 10px;
}

.Input-Section {
  padding-bottom: 20px;
  width: 100%;
  background-color: rgb(255, 180, 41);
}

.Input-Section * {
  color: black;
  font-size: 18px;
  background-color: rgb(255, 180, 41);
}

.Input-Fields {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(7, auto);
}

.Name-Label, .Description-Label, .Stock-Label, .Price-Label, .Category-Label {
  text-align: right;
}

.Input-Category { 
  width: 50%;
  background-color: rgb(236, 236, 236);
}

.Input-Category * {
  background-color: rgb(236, 236, 236);
}

.Submit-Form {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: rgb(190, 190, 190);
}

.btn {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 125px;
  background-color: rgb(205, 205, 255);
  color: rgb(80, 80, 80);
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  overflow-y: hidden;
}

.btn:hover {
  opacity: .5;
}


input, textarea {
  text-indent: 10px;
  height: 40px;
  width: 90%;
  background-color: rgb(238, 238, 238);
  border: 1px solid grey;
  border-radius: 5px;
}

select {
  height: 35px;
}

a {
  text-decoration: none;
}